<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinker.vdongthinker">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.FLASHLIGHT" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.FindPasswordActivity"/>
        <activity android:name=".ui.activity.SetPasswordActivity"/>
        <activity android:name=".ui.activity.CourseTypeActivity"/>
        <activity android:name=".ui.activity.CourseDetailActivity"/>
        <activity android:name=".ui.activity.AgencyTypeActivity"/>
        <activity android:name=".ui.activity.AgencyDetailActivity"/>
        <activity android:name=".ui.activity.MallDetailActivity"/>
        <activity android:name=".ui.activity.PerfectInformationActivity"/>
        <activity android:name=".ui.activity.CommunityDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".ui.activity.CommunityPhotoActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activity.NewReleaseActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity android:name=".ui.activity.MallCarActivity"/>
        <activity android:name=".ui.activity.FirmOrderActivity"/>
        <activity android:name=".ui.activity.SelectAddressActivity"/>
        <activity android:name=".ui.activity.AddAddressActivity"/>
        <activity android:name=".ui.activity.PersonalInfoActivity"/>
        <activity android:name=".ui.activity.YiJianActivity"/>
        <activity android:name=".ui.activity.MyCommunityActivity"/>
        <activity android:name=".ui.activity.MyTrainActivity"/>
        <activity android:name=".ui.activity.MessageActivity"/>
        <activity android:name=".ui.activity.MessageZanActivity"/>
        <activity android:name=".ui.activity.MessageAssessActivity"/>
        <activity android:name=".ui.activity.MessageReplayActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>